@page "/"
@page "/navigate"
@inject NavigationManager NavigationManager

<h1>Hello, fans of Chuck!</h1>

Welcome to a Chuck Norris joke fanpage
<div>
    <button class="btn btn-primary" @onclick="NavigateToCounterComponent">
        Start right now
    </button>
</div>


<SurveyPrompt Title="" />

@code {


    private void NavigateToCounterComponent()
    {
        NavigationManager.NavigateTo("fetchdata");
    }
}
