<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        This page uses jokes of
        <a target="_blank" class="font-weight-bold" href="https://api.chucknorris.io/">this chuck norris api</a>
    </span>
    , was produced by
    <a target="_blank" class="font-weight-bold" href="https://github.com/RichyP7">RichyP7 </a>
    and is hosted on microsoft azure
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
